.list__item {
    background:royalblue;
    color: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid;
    cursor: pointer;
}

.current{
    border: 2px solid steelblue;
    text-align: center;
}

.current__image{
    margin: auto;
    width: 200px;
    overflow: hidden;
}

.admin-form {
    margin-top: 20px;
}

.admin-form__name {
    margin-top: 15px;

}

.inputs-wrapper {
    display: none;
}